# Default notebook

This default notebook is executed using a Lakeflow job as defined in resources/sample_job.job.yml.

In [2]:
# Set default catalog and schema
catalog = "gh_catalog_001"
schema = "test_cicd"
spark.sql(f"USE CATALOG {catalog}")
spark.sql(f"CREATE SCHEMA IF NOT EXISTS {schema}")
spark.sql(f"USE SCHEMA {schema}")

DataFrame[]

In [3]:
spark.read.table("samples.nyctaxi.trips")

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

DataFrame[tpep_pickup_datetime: timestamp, tpep_dropoff_datetime: timestamp, trip_distance: double, fare_amount: double, pickup_zip: int, dropoff_zip: int]